@model MVCexample.Models.ProductListViewModel

<!DOCTYPE html>

<html>
<head>

    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>title</title>
</head>
<body>
    <div>
        <table class="table">
            <tr>
                <td style="text-decoration:underline">
                    Transient Product Name
                </td>
            </tr>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>
                        @product.ProductName
                    </td>

                </tr>
            }
        </table>

        <div>
            <a asp-controller="TransientProduct" asp-action="Add">Add Two Products</a>
        </div>

    </div>
</body>
</html>

